<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "com.seabreezecomputers.encrypterpro"
        versionCode = "1.0" 
        version     = "1.0" >

    <!-- versionCode is optional and Android only -->
    <!--<preference name="android-minSdkVersion" value="11" /> <!--is declared with value 11 or higher.-->
    <!--<preference name="android-targetSdkVersion" value="14" /> <!-- Google: 11 or higher (14 or higher is recommended)-->
    <!--Google: If a maxSdkVersion attribute is declared, it must have a value of 11 or higher. Note that, in general, the use of maxSdkVersion is not recommended.-->
    <gap:config-file platform="android" parent="/manifest" mode="merge">
		<supports-screens android:anyDensity="true" android:resizeable="true" 
	    android:smallScreens="true" 
	    android:normalScreens="true" 
	    android:largeScreens="true" 
	    android:xlargeScreens="true" />
    </gap:config-file>

    <icon src="res/icon.png" /> <!-- Just one 144x144 icon for all devices -->
    <preference name="permissions" value="none" /> <!-- Stops Android for asking for permission for every single thing when user accepts the app install -->
	
    <!--<gap:plugin name="com.google.cordova.admob" source="plugins.cordova.io" />--> <!-- Needed to display an admob ad at bottom of page -->
    <gap:plugin name="org.apache.cordova.inappbrowser" /> <!-- Needed to open links in phone's browser using window.open(myURL, '_system'); -->
    
    <name>Cool Encrypter Pro</name>

    <description>
        Cool Encrypter Pro encrypts and decrypts text right before your eyes with a cool display 
		like in spy movies. Use a secret key that you and a friend agreed upon to encrypt the text.
        Hide your text messages and emails from your parents, siblings and other peeping eyes.
    </description>

    <author href="http://seabreezecomputers.com/about/" email="jeff@seabreezecomputers.com">
        Jeff Baker 
    </author>

</widget>
